In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('final_dataset.csv')
df.head()

In [0]:
df.shape

(74350, 7)

In [0]:
#remove nan rows
df.isnull().sum()
df = df.dropna()

In [0]:
#remove duplicates/unnamed column
df= df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis =1)
df = df.drop_duplicates()
df.shape

(65096, 5)

In [0]:
#modify price columns
df.price_realized = df.price_realized.str[4:].str.replace(",", "").astype('int32')
df[['price_estimate_lower','price_estimate_upper']] = df.price_estimated.str.split("-",expand=True)
df['currency'] = df.price_estimate_lower.str[:3] 
df.price_estimate_lower = df.price_estimate_lower.str[4:].str.replace(",", "").astype('int32')
df.price_estimate_upper = df.price_estimate_upper.str[5:].str.replace(",", "").astype('int32')

In [0]:
df = df.drop(['price_estimated'], axis = 1)
df.head()

In [0]:
#separate lot name from descrios (check if we even want this: better or worse results?)
df[['lot_name','descrips']] = df['name/decrip'].str.split('\n', n=1, expand=True)
df = df.drop('name/decrip', axis =1)
df.head()

In [0]:
#CONVERT 

#convert lower bound
df.loc[df.currency == 'GBP', 'lower_conv'] =  1.29 * df.price_estimate_lower
df.loc[df.currency == 'EUR', 'lower_conv'] =  1.10 * df.price_estimate_lower
df.loc[df.currency == 'HKD', 'lower_conv'] =  0.13 * df.price_estimate_lower
df.loc[df.currency == 'CNY', 'lower_conv'] =  0.14 * df.price_estimate_lower
df.loc[df.currency == 'USD', 'lower_conv'] =  df.price_estimate_lower
df.loc[df.currency == 'CHF', 'lower_conv'] =  df.price_estimate_lower

In [0]:
#convert upper bound - must be way to combinewith above and make more dry

df.loc[df.currency  == 'GBP', 'upper_conv'] =  1.29 * df.price_estimate_upper
df.loc[df.currency  == 'EUR', 'upper_conv'] =  1.10 * df.price_estimate_upper
df.loc[df.currency  == 'HKD', 'upper_conv'] =  0.13 * df.price_estimate_upper
df.loc[df.currency  == 'CNY', 'upper_conv'] =  0.14 * df.price_estimate_upper
df.loc[df.currency  == 'USD', 'upper_conv'] =  df.price_estimate_upper
df.loc[df.currency  == 'CHF', 'upper_conv'] =  df.price_estimate_upper

In [0]:
#convert price realized - idem as cell directly above - make dryer

df.loc[df.currency  == 'GBP', 'price_realized_conv'] =  1.29 * df.price_realized
df.loc[df.currency  == 'EUR', 'price_realized_conv'] =  1.10 * df.price_realized
df.loc[df.currency  == 'HKD', 'price_realized_conv'] =  0.13 * df.price_realized
df.loc[df.currency  == 'CNY', 'price_realized_conv'] =  0.14 * df.price_realized
df.loc[df.currency  == 'USD', 'price_realized_conv'] =  df.price_realized
df.loc[df.currency  == 'CHF', 'price_realized_conv'] =  df.price_realized

In [0]:
df= df.drop(['currency', 'price_realized', 'price_estimate_upper','price_estimate_lower'], axis =1)

df.head()

                                         name/decrip  ...  price_realized_conv
0  AN TIGER'S EYE QUARTZ 'ALHAMBRA' NECKLACE, BY ...  ...               6127.5
1  TWO 'ALHAMBRA' BRACELETS, BY VAN CLEEF & ARPEL...  ...               5160.0
2  A PAIR OF EAR CLIPS, BY VAN CLEEF & ARPELS\nEa...  ...               4192.5
3  A 'LOVE' BANGLE, BY CARTIER\nThe hinged polish...  ...               3870.0
4  A 'LOVE' BANGLE, BY CARTIER\nThe hinged polish...  ...               4837.5

[5 rows x 4 columns]

In [0]:
df.to_csv('/content/DatasetConverted-v1.csv')

In [0]:
#reference for later:
#https://www.kaggle.com/knowledgegrappler/a-simple-nn-solution-with-keras-0-48611-pl